html, body, div {
    box-sizing: border-box;
}
body { 
    font-family: monospace;
    background: #313131;
    color:#ececec;
    height: 95vh;
    box-sizing: border-box;
    }
 .col-6 {
     width: 50%;
     display: inline-block;
     margin: 15px;
     height: 90vh;
 }
 textarea {
     height: 100vh;
     width: 100%;
     padding:30px;
     }
 p {background: black;}
 #myLog{
     overflow: auto;
     padding: 20px;
 }
 #myLog div {
     display: inline-block;
     word-wrap: break-word;
     width: 100%;
     white-space: pre-line;

 }
 row {
     display: flex;
     overflow: hidden;
 }
 #vseditor {
     border:1px solid grey;
     resize:horizontal;
}
 .monaco-editor {
     width: 100% !important;
 }
 .margin {
     widths: 7% !important;
     max-width: 32px;
     min-width: 16px;
 }
 .overflow-guard {
     width: 100% !important;
     height: 100% !important;
 }
 .overflow-guard .margin .margin-view-overlays {
     width: 100% !important;
 }
 .minimap {
    right: 13px !important;
    left: unset !important;
 }

 .line-numbers {
     width: 100% !important;
 }
 .monaco-scrollable-element.editor-scrollable {
     left: 48px !important;
     width: calc(100% - 48px) !important;
 }
